{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
<div class="search">
    <div class="wrapper padding align-center">
      {% include 'partials/simplesearch_searchbox.html.twig' %}
    </div>
</div>
{% set colsize = ['seven', 'five'] %}
<section id="{{ page.header.section_id }}" class="row columns">
  <div class="{{ colsize[0] }} columns">
    {{ page.content }}
  </div>
  <div class="{{ colsize[1] }} columns topic-list">
    {% for p in page.collection %}
      <div class="{{ colsize[1] }} columns topic-item">
        <a href="{{ p.url }}">
          <i class="fa {{ p.header.icon }}"></i>
          <h4>{{ p.title }}</h4>
          {{ p.header.subtitle }}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
</div>

{% endblock %}
